.b{
    margin-left: 331px;
margin-top: -57px;
}
.divbut{
    margin-left: 1128px;
margin-top: -41px;

}
.c{
    margin-top: 91px;
    
}
.flex{
    display: flex;
    padding-top: 10px;
}
.section2{
    margin-top: 67px;
background-color: #d2cccc80;
height: auto;
padding: 39px 1px;  
}
.section3{
    margin-top: 52px;
}
.l{
    font-weight: bold;
}
.o{
    font-weight: bold;
}
.r{
    font-weight: bold;
}