.main{
     display: flex;

}
.div1{
    border-radius: 4rem;
    background-color: red;
    width: 20px;
    height:20px
}
.div2{
    border-radius: 4rem;
    background-color: yellow;
    width: 20px;
    height:20px
}
.div3{
    border-radius: 4rem;
    background-color: black;
    width: 20px;
    height:20px
}
.div0{
    border-radius: 4rem;
    background-color: black;
    width: 20px;
    height:20px
}
.main:hover{
    
    transition: 2s;
    margin-left: 2rem;

}   
